<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head-old :: head}" />
<body th:include="~{fragments/layout-old :: layout(~{::div})}">
<div>
  <div class="row">
    <div class="columns"><h3 th:text="${project.name}"></h3></div>
    <div class="columns small-1">
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <a href="#0">Operations</a>
          <ul class="menu">
            <li><a th:href="@{/web/projects/add}">Add Project</a></li>
            <li><a th:href="@{/web/projects/{id}/edit(id=${project.id})}">Edit Project</a></li>
            <li><a th:href="@{/web/projects/{id}/export(id=${project.id})}">Export Project</a></li>
            <li><a th:href="@{/web/projects/import}">Import Project</a></li>
            <li><a th:href="@{/web/projects/{id}/validate(id=${project.id})}">Validate project</a></li>
            <li><a th:href="@{/web/projects/{id}/delete(id=${project.id})}">Delete project</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="columns">
    <ul class="tabs" data-tabs id="project-tabs">
      <li class="tabs-title" is-active><a href="#project">Project information</a></li>
      <li class="tabs-title"><a href="#schemata">Schemata</a></li>
      <li class="tabs-title"><a href="#scripts">Scripts</a></li>
      <li class="tabs-title"><a href="#transformations">Transformations</a></li>
    </ul>
    <div class="tabs-content" data-tabs-content="project-tabs">
      <div class="tabs-panel" id="project">
        <div>
          <table>
            <tbody>
              <tr>
                <th>Name</th>
                <td th:text="${project.name}">Project Name</td>
              </tr>
              <tr>
                <th>Obligation</th>
                <td>Obligation Name</td>
              </tr>
              <tr>
                <th>Start date</th>
                <td>Start date</td>
              </tr>
              <tr>
                <th>Finish date</th>
                <td>Finish date</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="tabs-panel" id="schemata">
        <div th:each="s : ${project.schemata}">
          <p><a th:href="@{/web/projects/schemata/{id}(id=${s.id})}" th:text="${s.url}">Schema</a></p>
        </div>
        <a th:href="@{/web/projects/{id}/schemata/add(id=${project.id})}">Add Schema</a>
      </div>
      <div class="tabs-panel" id="scripts">
        <div th:each="s : ${project.scripts}">
          <p><a th:href="@{/web/projects/scripts/{id}(id=${s.id})}" th:text="${s.name}">Scripts</a></p>
        </div>
        <a th:href="@{/web/projects/{id}/scripts/add(id=${project.id})}">Add Script</a>
      </div>
      <div class="tabs-panel" id="transformations">
        <div th:each="t : ${project.transformations}">
          <p><a th:href="@{/web/projects/transformations/{id}(id=${t.id})}" th:text="${t.name}">Transformation</p>
        </div>
        <a th:href="@{/web/projects/{id}/transformations/add(id=${project.id})}">Add Transformation</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>