.v-data-table > .v-data-table__wrapper > table > .v-data-table-header {
    background-color: #306886;
}

.v-application--is-ltr .v-data-table > .v-data-table__wrapper > table > thead > tr > th {
    color: #FFFFFF;
}

.theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr > td, .theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
    border: 1px solid #cfe3e4;
}

.v-data-table-header > tr > th {
    background-color: #306886;
}

.theme--light.v-data-table .v-data-table-header th.sortable.active {
    color: #FFFFFF;
}

.v-text-field input {
    border: 0 none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    margin: 0;
}

.v-text-field input:focus{
    outline: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}