<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head-old :: head}"/>
<body th:include="~{fragments/properties-old :: layout(~{::div})}">

<template>
    <div class="container" id="app">
        <v-form
                ref="form"
                v-model="valid"
                lazy-validation
        >
            <v-text-field
                    v-model="lightJobExecutorInstances"
                    label="Number of light jobExecutor instances"
            ></v-text-field>

            <v-text-field
                    v-model="heavyJobExecutorInstances"
                    label="Number of heavy jobExecutor instances"
            ></v-text-field>

            <v-btn
                    :disabled="!valid"
                    color="success"
                    class="mr-4"
                    @click="save"
            >
                Save
            </v-btn>
        </v-form>
    </div>
</template>

</body>
</html>