/* The basic elements: */


.ok-msg {
	border: 2px solid green;
        padding: 0.5em 0.5em 0.5em 24px;
	background: url('../images/ok.gif') 5px 5px no-repeat;
	color: #008000;
	font-size: 110%;
	font-weight: bold;
}

#region-content a:hover {text-decoration: underline;}
#region-content a:visited {color: #A30A21;}


fieldset {
	margin: 0.5em 0em 0.5em 0em;
	padding: 0.5em 0.5em 0.5em 0.5em;
}
legend {
	padding: 0.2em;
	font-size: 100%;
}

textarea {
	color: #000;
	background-color: white;
	width: 100%;
}
input {
	visibility: visible;
	color: #000;
	vertical-align: bottom;
}


input[disabled]{
	color: gray;
	border-color: gray;
}

/*Opera*/
input[disabled=false]{
	color: black;
	border-color: #C60;
}

select {
	color: #000;
	background-color: White;
	vertical-align: bottom;
	font-size: 100%;
}

ins {
	color: green;
	text-decoration: none;
}
del {
	color: red;
	text-decoration: line-through;
}

/* Structural Elements */
#visual-portal-wrapper {
	margin: 0;
	padding: 0;
}

/* Top section */
#portal-top {
	margin: 0;
	padding: 0;
}

#portal-globalnav {
	padding: 0 0 0 141px;
	margin: 0em;
	clear: both;
	height: 19px;
	list-style: none;
}
#portal-globalnav li {
	float: left;
}
#portal-globalnav li a {
	display: block;
	margin: 0 0.5em 2px 0;
	border-bottom: 1px solid #454545;
	border-right: 1px solid #454545;
	padding: 3px 5px 2px 6px;
	font-weight: bold;
	background: transparent url(../images/tab_off.gif) top left;
	color: #FFCE7B;
	text-decoration: none;
}
#portal-globalnav li.selected a, #portal-globalnav li a:hover {
	background: transparent url(../images/tab_on.gif) top left;
	color: #FFF;
}
ul.portal-subnav {
	padding: 0;
	margin: 0;
	list-style: none;
	list-style-image:none;
}
ul.portal-subnav li {
	text-align: left;
	margin-bottom: 2px;
}
ul.portal-subnav li a, ul.portal-subnav li a:visited {
	display:block;
	font-weight: bold;
	text-decoration: none;
	color:#495b6b;
	background: transparent url('http://www.eionet.europa.eu/styles/eea2006/arrow-normal.png') 15px center no-repeat;
	padding: 0px 6px 0px 25px;
	border: none;
	height: 1.4em;
	margin: 0px;
}
ul.portal-subnav li.selected a, ul.portal-subnav li a:hover {
	background-color: rgb(173,192,149);
	text-decoration: none;
	color: white;
}

.visualCaseSensitive {
	text-transform: none;
}


.breadcrumbSep{
	background-image: url(http://www.eionet.europa.eu/styles/eea2006/arrow-normal.png);
	background-repeat: no-repeat;
	background-position: 100% 10px;
	padding: 8px 16px 1px 2px;
}
.breadcrumbEnd{
	padding: 8px 16px 1px 2px;
}

#content {
	padding: 0em;
	margin: 0em;
}

.documentEditable {
	padding: 0em 1px 0em 1em !important; /*mda*/
}

.documentContent {
	padding: 0 0 0 0 !important;
}

.documentEditable .documentContent {
	padding: 0;
}

.portalMessage,
.system-message,  /* These two last ones are reST error indicators */
#error-handling {
	background-color: #FFCE7B;
	border: 1px solid #FFA500;
	color: #000;
	font-size: 85%;
	font-weight: bold;
	margin: 0.9em 0em 0em 0em;
	padding: 0.5em 1em 0.5em 3em;
	vertical-align: middle;
	background-image: url(../images/info_icon.gif);
	background-repeat: no-repeat;
	background-position: 5px 50%;

}
.portalMessage a {
	color: #000;
	text-decoration: underline;
}

.productCredits {
	text-align: right;
	font-size: 85%;
	clear: both;
	font-weight: normal;
	color: #646464;
}

.productCredits a {
	text-decoration: underline;
}

#portal-footer {
	background: #97af79 url('http://www.eionet.europa.eu/styles/eea2006/logobtm.gif');
	background-position: right 50%;
	background-repeat: no-repeat;
	color: white;
	float: none;
	padding: 1em 1em 1em 1em;
	margin: 0 0 1em 198px; /*mda*/
}
#portal-footer a {
	color: white;
}

/* The new form elements */
.field {
	top: 0;
	left: 0;
	margin: 0 1em 0.5em 0;
}
#portal-column-one .field{
	margin: 0 0 0.5em 0;
}
.field .field {
	margin: 1em 0 0 0;
}
.field label {
	font-size: 100%;
	font-weight: bold;
}
.formHelp {
	font-size: 90%;
	color: #646464;
	margin: 0 0 0.2em 0;
}
.formHelp a {
	text-decoration: underline;
}
.formHelp:hover {
	color: #000;
	cursor: default;
}
.formControls {
	margin: 1em 0 0 0;
}
#portal-column-one .formControls {
	margin: 0;
}

/* Class for error indication in forms */
.error {
	background-color: #FFCE7B;
	border: 1px solid #FFA500;
	padding: 1em;
	margin: 0 0 1em 0;
	width: 95% !important;
}
.error .fieldRequired {
	color: #FFCE7B;
}

/* The default table for document listings. Contains name, document types,
 * modification times etc in a file-browser-like fashion */
.listing,
.stx table {
	border-collapse: collapse;
	border-left: 1px solid #C60;
	border-bottom: 1px solid #C60;
	font-size: 85%;
	margin: 1em 0em 1em 0em;
}
.listing th,
.stx table th {
	background: #FFF7E8;
	border-top: 1px solid #C60;
	border-bottom: 1px solid #C60;
	border-right: 1px solid #C60;
	font-weight: normal;
	padding: 0em 0.2em 0em 0.2em;
	text-transform: lowercase;
}
.listing .top {
	border-left: 1px solid #F0F0F0;
	border-top: 1px solid #F0F0F0 !important;
	border-right: 1px solid #F0F0F0 !important;
	text-align: right ! important;
	padding: 0em 0em 1em 0em;
}
.listing .odd {
/*every second line should be shaded */
	background-color: #FFF;
}
.listing .even {
	background-color: #FFF7E8;
}
.listing .listingCheckbox {
	text-align: center;
}
.listing td,
.stx table td {
	border-right: 1px solid #C60;
	padding: 0em 0.2em;
	text-align: left;
}
.listing a:hover {
	text-decoration: underline;
}
.listing img {
	vertical-align: middle;
}

/* List classes without markers */
ul.visualNoMarker,
ol.visualNoMarker {
	list-style-type: none;
	list-style-image: none;
	margin: 0.5em 0 0 0;
}

/* Additional STX workaround classes */
/* stupid STX table workaround */
.stx table p {margin: 0; padding: 0;}
/* stupid STX table workaround */
.stx table {border: 1px solid #C60 !important;}
.stx table td {border-bottom: 1px solid #C60;}

.portlet {
	border: none;
	margin: 0 0 1em 0;
	padding: 0;
}
#portal-column-one .portlet{
	margin: 0 5px 5px 5px; /*mda*/
}

/* Compensation when rendering portlets in the content area */
/*#region-content .portlet {font-size: 94%;}*/

/* The new base portlet header, h5 and h6 will be for use inside
the portlet in the upcoming versions. */
.portlet h4, .portlet h5, .portlet h6 {
	background-color: #FFF7E8;
	border: 1px solid #C60;
	padding: 0em 0.5em 0em 0.5em;
	display: inline;
	font-size: 1em;
	font-weight: normal;
	white-space: nowrap;
	position: relative;
	top: -1px;
}
#portal-column-one .portlet h4,
#portal-column-one .portlet h5,
#portal-column-one .portlet h6 {
	border: 0;
	font-weight: bold;
	background: transparent;
	padding: 1px 5px 0px 0; /*mda*/
	color: #495b6b;
	font-size: 130%;
	text-align: left;
}
.portletBody {
	position: relative;
	top: -1px;
	background: transparent;
	border: 1px solid #C60;
}
#portal-column-one .portletBody {
	border: 0;
}
.portletDetails { font-size: 85%; text-align: right; }
.portletContent {
	padding: 0.5em;
	line-height: 1em;
	background-color: #FFF7E8;
}
#portal-column-one .portletContent{
	background-color: transparent;
	padding: 0.5em 0 0 0;
}

.portlet .even {background-color: #FFF7E8;}
.portlet .odd {background-color: #FFF;}

.portlet input {font-size: 100%;}

.portletMore {
	display: block;
	text-align: right;
}
a.portletMore
a.portletMore:hover,
a.portletMore:visited {
	color: #024176;
}
.portletFooter {
	padding: 0.5em 1em 1em 1em;
}

.comment {
	background: #FFF7E8;
	border: 1px dashed #C60;
	padding: 0 1em 0.5em 1em;
	margin-bottom: 1em;
}

.comment h1, comment h2, comment h3, comment h4, comment h5, comment h6 {
	border-bottom: 1px dashed #646464;
	font-weight: normal;
}

.commentBody {
	margin: 0 1em 0.5em 1em;
}

.spacer {
	margin: 1em;
}

.even {background-color: #FFF7E8;}
.odd {background-color: #FFF;}
.visualHighlight {background-color: #FFF7E8;}

.discreet {
	color: #646464;
	font-size: 85%;
	font-weight: normal;
}


.hiddenStructure {display: none;}

.visualClear {
	display: block;
	clear: both;
}

.hiddenLabel {
	display: block;
	background: transparent;
	background-image: none; /* safari bug */
	border: none;
	height: 1px;
	overflow: hidden;
	padding: 0;
	margin: -1px 0 0 -1px;
	width: 1px;
}
.label {
	font-weight: bold;
	display: inline;
	padding-right: 0.5em;
	text-align:left;
}

.optionsToggle {
	border: 1px solid #C60;
	color: #000;
	background-color: #FFF7E8;
	font-weight: normal !important;
	font-size: 85%;
}

/* Used on all descriptions relevant to those not logged in */
.portalNotLoggedIn {}

#portal-column-content fieldset > * input:focus,
#portal-column-content fieldset > * textarea:focus {
	border-color: #FFA500;
	border-width: 1px;
}

.visualOverflow {
	overflow: auto;
	margin: 0 0 1em 0;
}

.visualOverflow pre,
.visualOverflow table,
.visualOverflow img {
	margin: 0;
}

.visualFontSizeCorrection { /* Correction for WYSIWYG editors */
	font-size: 75%;
}

/* for highlighting of search terms */
.highlightedSearchTerm {
	background-color: #FFCE7B;
}

/* for highlighting current items, like the language or today in the calendar */
.currentItem {
	border-collapse: collapse;
	border: 2px solid #FFA500;
	padding: 1px;
}


.admin_form td {
	text-align: right;
	padding:3px;
}


.boxbottombuttons {
	margin: 0px;
	padding: 4px 10px;
	background: #FFF;
	text-align: center;
}
tr.zebraeven {
	background-color: #f6f6f6;
}

tr.even {
	background-color: #f6f6f6;
}
@media screen { /* To prevent PocketPC from loading the stylesheet */
/* REDESIGNED PART START */

table.formtable {
	width: 100%;
}
.formtable .labelcol {
	width: 25%;
}
.formtable .entrycol {
	width: 75%;
}
/* REDESIGNED PART END */

