.success { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #C6383F }

.error { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #C63D00 }


#table {
	width: 100%;
}

.dashcolumn {
	float:	left;
}

/* portlet box */
.box {
	margin: 0;
	padding: 0 6px 0 0;
	background: url(../images/borders.png) #FFF repeat-y 100% 0;
}
.boxleft {
	padding: 0 0 0 6px;
	background: url(../images/borders.png) #FFF 0 0 repeat-y;
}
.boxtop {
	margin: 0 -6px;
	background: url(../images/box.png) 100% 0 no-repeat;
	height: 30px;
}
.boxtop div {
	width: 15px;
	background: url(../images/box.png) 0 0 no-repeat;
	height: 30px;
}
.boxcontent {
	margin: 0px;
	padding: 4px 10px;
	background: #FFF;
	overflow: auto;
}
.boxcontent ul {
	margin: 0;
	padding-left: 16px;
	list-style-type: square;
}
.boxcontent li, .boxcontent li p {
	margin: 0;
	padding: 0;
}
.boxbottombuttons {
	margin: 0px;
	padding: 4px 10px;
	background: #FFF;
	text-align: center;
}
.boxbottom {
	margin: 0 -6px;
	background: url(../images/box.png) 100% 100% no-repeat;
	height: 13px;
}
.boxbottom div {
	width: 13px;
	background: url(../images/box.png) 0 100% no-repeat;
	height: 13px;
}
.box h4 {
	width: auto;
	margin: -30px 0 0 10px;
	padding: 1px 3px;
	float: left;
	/*white-space: nowrap;*/
	display: inline;
	background: #FF9400;
	color: #FFF;
	font: bold 1em/1em Verdana, Geneva, Arial, Helvetica, sans-serif;
	overflow:hidden;
}
.box h5 {
	margin: 4px 0 0;
	padding: 2px 0;
	/*background: #136F70;*/
	color: #136F70;
	font: bold 1em/1.1 Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.box h5 a, .box h5 a:visited {
	color: #EFECE6;
	text-decoration: none;
}
.box h5 a:hover {
	color: #FF4500;
}
.boxbuttons {
	width: 100px;
	margin: -17px 5px 0 0;
	padding: 0;
	float: right;
	white-space: nowrap;
	display: inline;
}
.boxbuttons img {
	border: 0;
}
.boxbuttons a{
	float: right;
	padding: 0px;
	margin: 0px;
}
/*
.box table {
	margin: 4px 0 0;
	font: 1em/1 Verdana, Geneva, Arial, Helvetica, sans-serif;
	border-collapse: collapse;
}
*/
.button {
	background: url(../images/button.png);
	border: 1px solid #FFCE7B;
	padding: 0 2px;
}
