/*
body {
width:expression(document.body.clientWidth < 756? "756px" : "auto");
}
*/
#visual-column-wrapper {
width:expression(document.body.clientWidth < 756? "755px" : "100%");
}
body {
	_width: expression(((document.body.clientWidth)) < 800? "780px": "auto" );
}
fieldset .radio {
	margin: 0 0 -3px 0;
}
.button {
	padding: 1px 2px 0;
}
.boxcontent ul {
	padding-left: 18px;
}
.boxcontent li {
	word-wrap: break-word;
}
input { 
	background-color: expression(this.type=="radio" || this.type=="checkbox" ? 'inherit' : 'white');
	border-color: expression(this.disabled?'gray':'#C60');
	border-style: solid;
	border-width: expression(this.type=="radio" || this.type=="checkbox" ? '0' : '1px');
}
