/* The basic elements: */
body {
font: 69% Verdana, Geneva, Arial, Helvetica, sans-serif;
background-color: #fff;
color: #000;
margin: 0;
padding: 0;
}
#portal-column-one {display:none;}
#portal-column-two {display:none;}
#portal-top {background: none;}
#portal-logo {
padding: 2.5em 1em 2.5em 0em;
margin: 0;
font-size: 150%;
font-weight: bold;
}
.logo {float:right;}
a img.logo {border:none;}

#portal-breadcrumbs {display:none;}
#content {}
.documentEditable {}
.documentContent {background: #fff;}
.documentEditable .documentContent {}
#dashcolumn {display:none;}
#tabbedmenu {display:none;}
form {display:none;}
#portal-footer {
border-top: 1px solid #000;
margin: 0;
}
/*-------------------------*/
table {font-size: 100%;}
a {
text-decoration: none;
color: #024176;
background-color: transparent;
}
p {
margin: 0.5em 0 0 0;
line-height: 1.2em;
}
p a {
text-decoration: underline;
}
p img {
border: 0;
margin: 0;
}
hr {
height: 1px;
color: #C60;
background-color: transparent;
}
h1, h2, h3, h4, h5, h6 {
color: #000;
background-color: transparent;
font-weight: bold;
margin: 0;
padding-top: 0.5em;
}
h1, h2, h3 {
font-family: "Trebuchet MS",Verdana,Geneva,Arial,Helvetica,sans-serif;
}
h1 {
padding-top: 0px;
}
h4, h5, h6 {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
color: #000 !important;
text-decoration: none;
}
h1 {font-size: 160%;}
h2 {font-size: 150%; border-bottom: 1px solid #C60;}
h3 {font-size: 140%;}
h4 {font-size: 120%;}
h5 {font-size: 100%;}
h6 {font-size: 85%;}

ul {
line-height: 1.2em;
list-style-type: square;
margin: 0 0 0 1.5em;
padding: 0;
list-style-image: url(../images/bullet.gif);
}
ol {
line-height: 1.2em;
margin: 0 0 0 1.5em;
padding: 0;
}
li {margin-bottom: 0.5em;}
.portlet li {margin-bottom: 0em;}
dt {
font-weight: bold;
}
dt a {
text-decoration: underline;
}
dd {
line-height: 1.2em;
margin-bottom: 0.5em;
}
dd a {
text-decoration: underline;
}
dd.link a {
text-decoration: none;
color: #000;
}
fieldset {
border: 1px solid #C60;
margin: 1em 0em 1em 0em;
padding: 0em 1em 1em 1em;
line-height: 1.5em;
width: auto;
}
legend {
background: #F0F0F0;
padding: 0.5em;
font-size: 90%;
}
abbr, acronym, .explain {
border-bottom: 1px dotted #000;
color: #000;
background-color: transparent;
cursor: help;
}
pre {
font-family: "Courier New", Courier, monospace;
font-size: 120%;
color: #000;
background-color: #FFF7E8;
border: 1px dashed #C60;
padding: 0 0.1em;
}
.pre a {
text-decoration: underline;
}
ins {
color: green;
text-decoration: none;
}
del {
color: red;
text-decoration: line-through;
}

.visualCaseSensitive {
text-transform: none;
}

.portalMessage,
.system-message,  /* These two last ones are reST error indicators */
#error-handling {
background-color: #FFCE7B;
border: 1px solid #FFA500;
color: #000;
font-size: 85%;
font-weight: bold;
margin: 0.9em 0em 0em 0em;
padding: 0.5em 1em 0.5em 3em;
vertical-align: middle;
background-image: url(../images/info_icon.gif);
background-repeat: no-repeat;
background-position: 5px 50%;

}
.portalMessage a {
color: #000;
text-decoration: underline;
}
.documentDescription {
/* The summary text describing the document */
font-weight: bold;
display: block;
margin: 1em 0em;
line-height: 1.2em;
}
.documentByLine {
text-align: right;
font-size: 85%;
clear: both;
font-weight: normal;
color: #646464;
}
.documentByLine a {
text-decoration: underline;
}

.productCredits {
text-align: right;
font-size: 85%;
clear: both;
font-weight: normal;
color: #646464;
}

.productCredits a {
text-decoration: underline;
}

/* The default table for document listings. Contains name, document types, modification times etc in a file-browser-like fashion */
.listing,
.stx table {
border-collapse: collapse;
border-left: 1px solid #C60;
border-bottom: 1px solid #C60;
font-size: 85%;
margin: 1em 0em 1em 0em;
}
.listing th,
.stx table th {
background: #FFF7E8;
border-top: 1px solid #C60;
border-bottom: 1px solid #C60;
border-right: 1px solid #C60;
font-weight: normal;
padding: 0em 0.2em 0em 0.2em;
text-transform: lowercase;
}
.listing .top {
border-left: 1px solid #F0F0F0;
border-top: 1px solid #F0F0F0 !important;
border-right: 1px solid #F0F0F0 !important;
text-align: right ! important;
padding: 0em 0em 1em 0em;
}
.listing .odd {
/*every second line should be shaded */
background-color: #FFF;
}
.listing .even {
background-color: #FFF7E8;
}
.listing .listingCheckbox {
text-align: center;
}
.listing td,
.stx table td {
border-right: 1px solid #C60;
padding: 0em 0.2em;
text-align: left;
}
.listing a:hover {
text-decoration: underline;
}
.listing img {
vertical-align: middle;
}

/* List classes without markers */
ul.visualNoMarker,
ol.visualNoMarker {
list-style-type: none;
list-style-image: none;
margin: 0.5em 0 0 0;
}

/* Additional STX workaround classes */
/* stupid STX table workaround */
.stx table p {margin: 0; padding: 0;}
/* stupid STX table workaround */
.stx table {border: 1px solid #C60 !important;}
.stx table td {border-bottom: 1px solid #C60;}

.comment {
background: #FFF7E8;
border: 1px dashed #C60;
padding: 0 1em 0.5em 1em;
margin-bottom: 1em;
}

.comment h1, comment h2, comment h3, comment h4, comment h5, comment h6 {
border-bottom: 1px dashed #646464;
font-weight: normal;
}

.commentBody {
margin: 0 1em 0.5em 1em;
}

.spacer {
margin: 1em;
}

.even {background-color: #FFF7E8;}
.odd {background-color: #FFF;}
.visualHighlight {background-color: #FFF7E8;}

.discreet {
color: #646464;
font-size: 85%;
font-weight: normal;
}

/*
** Accessibility and visual enhancement elements
*/
.link-plain {
background-image: none;
padding: 0;
}

.link-parent {
display: block;
background: transparent url(../images/arrowUp.gif) 4px 5px no-repeat;
padding: 1px 0px 1px 16px;
font-size: 85%;
}
a.link-parent
a.link-parent:hover,
a.link-parent:visited {
text-decoration: none;
color: #024176;
}

.hiddenStructure {display: none;}
.visualClear {
display: block;
clear: both;
}

.hiddenLabel {
display: block;
background: transparent;
background-image: none; /* safari bug */
border: none;
height: 1px;
overflow: hidden;
padding: 0;
margin: -1px 0 0 -1px;
width: 1px;
}
.label {
font-weight: bold;
display: inline;
padding-right: 0.5em;
}

.optionsToggle {
border: 1px solid #C60;
color: #000;
background-color: #FFF7E8;
font-weight: normal !important;
font-size: 85%;
}

/* Used on all descriptions relevant to those not logged in */
.portalNotLoggedIn {}

#portal-column-content fieldset > * input:focus,
#portal-column-content fieldset > * textarea:focus {
border-color: #FFA500;
border-width: 1px;
}

.visualOverflow {
overflow: auto;
margin: 0 0 1em 0;
}

.visualOverflow pre,
.visualOverflow table,
.visualOverflow img {
margin: 0;
}


/* for highlighting of search terms */
.highlightedSearchTerm {
background-color: #FFCE7B;
}

/* for highlighting current items, like the language or today in the calendar */
.currentItem {
border-collapse: collapse;
border: 2px solid #FFA500;
padding: 1px;
}

.admin_form td {
	text-align: right;
	padding:3px; 
}

/* Sortable tables css from EEA: */
.sortable {
	border: 1px solid black;
	font-size: 0.9em;
	line-height:normal;
}
.sortable th {
	background: #ccc;
	border: 2px outset #999;
	margin:0;
	padding:0;
	white-space: nowrap;
	vertical-align: top;
}
.sortable th a:link, .sortable th a:visited, .sortable th span {
	display:block;
	text-decoration: none;
	font-weight: normal;
	color: black;
	padding:1px 0.5em;
}
.sortable th a:hover {
	color:white;
	background: #aaa;
}
.sortable tbody tr.zebraeven {
	background-color: white;
}
.sortable img {display: none;}
