<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5p] %d{dd.MM.yy HH:mm:ss} - %c - %m%n</pattern>
        </encoder>
    </appender>

    <!-- Development logging -->
    <logger name="org.hibernate" level="trace" />
    <logger name="org.springframework.web" level="trace" />

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>