<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


    <bean id="dataSource" primary="true" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <constructor-arg ref="hikariConfig" />
    </bean>

    <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
        <property name="poolName" value="springHikariCP" />
        <property name="minimumIdle" value="5"/>
        <property name="maximumPoolSize" value="30"/>
        <property name="dataSourceClassName" value="org.mariadb.jdbc.MariaDbDataSource" />
        <property name="dataSourceProperties">
            <props>
                <prop key="url">${db.url}</prop>
                <prop key="user">${db.user}</prop>
                <prop key="password">${db.pwd}</prop>
                <!--<prop key="cachePrepStmts">true</prop>-->
                <!--<prop key="prepStmtCacheSize">250</prop>-->
                <!--<prop key="prepStmtCacheSqlLimit">2048</prop>-->
            </props>
        </property>
    </bean>

    <!-- Runs on Tomcat startup. -->
    <bean id="liquibase" class="liquibase.integration.spring.SpringLiquibase">
        <property name="dataSource" ref="dataSource" />
        <property name="changeLog" value="classpath:db/xmlconv-struct.xml" />
    </bean>

</beans>