<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="appConfigDefinitionProvider" primary="false" class="eionet.propertyplaceholderresolver.ConfigurationDefinitionProviderImpl">
        <constructor-arg index="0">
            <array>
                <value>env.properties</value>
                <value>acl.properties</value>
                <value>gdem.properties</value>
                <value>eionetdir.properties</value>
                <value>CatalogManager.properties</value>
                <value>fme.properties</value>
                <value>messages.properties</value>
                <value>cache.properties</value>
                <value>http.properties</value>
            </array>
        </constructor-arg>
    </bean>
    
    <bean id="configurationPropertyResolver" primary="false" class="eionet.propertyplaceholderresolver.ConfigurationPropertyResolverImpl">
        <constructor-arg ref="appConfigDefinitionProvider" />
    </bean>
    
    <bean id="configurationPostProcessor" primary="false" class="eionet.propertyplaceholderresolver.spring.EionetPlaceholderConfigurer">
        <constructor-arg ref="configurationPropertyResolver" />
    </bean>
    
    <bean id="catalogCopyManager" class="eionet.gdem.configuration.CopyCatalogFileAction" depends-on="configurationPostProcessor"/>
    
    <bean id="copyAclFiles" class="eionet.gdem.configuration.CopyAclFiles" depends-on="configurationPostProcessor"/>
    
    <bean id="aclProperties" class="eionet.acl.AclProperties">
        <property name="ownerPermission" value="${owner.permission}" />
        <property name="anonymousAccess" value="${anonymous.access}" />
        <property name="authenticatedAccess" value="${authenticated.access}" />
        <property name="defaultdocPermissions" value="${defaultdoc.permissions}" />
        <property name="persistenceProvider" value="${persistence.provider}" />
        <property name="initialAdmin" value="${initial.admin}" />
        <property name="fileAclfolder" value="${file.aclfolder}" />
        <property name="fileLocalusers" value="${file.localusers}" />
        <property name="fileLocalgroups" value="${file.localgroups}" />
        <property name="filePermissions" value="${file.permissions}" />
        <property name="dbDriver" value="${acl.db.driver}" />
        <property name="dbUrl" value="${acl.db.url}" />
        <property name="dbUser" value="${acl.db.user}" />
        <property name="dbPwd" value="${acl.db.pwd}" />
    </bean>
    
    <bean id="accessController" class="eionet.acl.AccessController">
        <constructor-arg index="0" ref="aclProperties" />
    </bean>

    <bean id="cacheManager" class="eionet.gdem.cache.CacheManagerUtil" init-method="initializeCacheManager" destroy-method="destroyCacheManager"/>

</beans>
