<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head-old :: head}" />
<body th:include="~{fragments/layout-old :: layout(~{::div})}">
<div>
  <p th:each="message, pos : ${messages}" th:text="${message}"></p>
  <form action="#" th:action="@{/web/projects/{projectId}/scripts/{id}/edit(projectId=${projectId}, id=${id})}" th:object="${script}" method="post">
    <fieldset>
      <legend>QA Script properties</legend>
      <label>Schema URL:
        <input type="text" th:field="*{name}"/>
      </label>
      <label>Description:
        <input type="text" th:field="*{description}"/>
      </label>
      <label>Script type:
        <select th:field="*{type}">
          <option th:each="option : ${scriptTypes}" th:value="${option.key}" th:text="${option.value}" th:selected="(*{type}?${option} == *{type.text}:false)"></option>
        </select>
      </label>
      <label>Linked Schemata:
        <select multiple="multiple" th:field="*{{linkedSchemata}}">
          <option th:each="option : ${projectSchemata}" th:value="${{option}}" th:text="${option.url}">Selected Option</option>
          <!--th:selected="${#arrays.contains(*{linkedSchemata}, option.id)}?true:false"></option>-->
        </select>
      </label>
      <label>Active:
        <input type="checkbox" th:field="*{active}"/>
      </label>
      <label>Remote URL:
        <input type="text" th:field="*{remotePath}"/>
      </label>
    </fieldset>
    <input type="submit" th:value="Save"/>
    <input type="reset" th:value="Reset"/>
  </form>
</div>
</body>
</html>