<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:perm="http://perm">
    <head th:replace="~{fragments/head-old :: head}"/>
    <body th:include="~{fragments/layout-old :: layout(~{::div})}">

        <div class="container" style="display: grid">

            <div id="tabbedmenu">
                <ul>
                    <li>
                        <a th:href="@{'/scripts/' +${scriptId}}" style="color: black; text-decoration: none;">
                            <span th:text="#{label.qascript.tab.title}"></span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{'/new/scripts/history/'+${scriptId}}" style="color: black; text-decoration: none;">
                            <span th:text="#{label.qascript.history}"></span>
                        </a>
                    </li>
                    <li id="currenttab">
                        <span style="color: black; text-decoration: none;" th:text="#{label.qascript.executionHistory}"></span>
                    </li>
                </ul>
            </div>

            <!-- Show version table -->
            <div class="row">
                <div class="col-lg-10 mt-5 mb-5">
                    <div th:if="${not #lists.isEmpty(history.page.content)}">

                        <div class="tablePageEntriesSize" style="float: right;">
                            <form th:action="@{${#httpServletRequest.requestURI}}" method="get">
                                <label for="pageVersionEntries">Entries per page:</label>
                                <select name="pageVersionEntries" id="pageVersionEntries" onchange="this.form.submit()">
                                    <option th:if="${versionTableSize > 10}" th:selected="${pageVersionEntries} == ${10}" value="10">10</option>
                                    <option th:if="${versionTableSize > 20}" th:selected="${pageVersionEntries} == ${20}" value="20">20</option>
                                    <option th:if="${versionTableSize > 50}" th:selected="${pageVersionEntries} == ${50}" value="50">50</option>
                                    <option th:if="${versionTableSize > 100}" th:selected="${pageVersionEntries} == ${100}" value="100">100</option>
                                    <option th:if="${versionTableSize > 200}" th:selected="${pageVersionEntries} == ${200}" value="200">200</option>
                                    <option th:if="${versionTableSize > 500}" th:selected="${pageVersionEntries} == ${500}" value="500">500</option>
                                    <option th:value="${versionTableSize}" th:selected="${pageVersionEntries} == ${versionTableSize}"><span th:text="${versionTableSize}"></span></option>
                                </select>
                            </form>

                        </div>
                        <table id="scriptExecutionVersionTable" class="table table-bordered datatable results" style="width: 100%">
                            <thead>
                            <tr>
                                <th scope="col" class="scope-col">Average duration</th>
                                <th scope="col" class="scope-col">Number of executions</th>
                                <th scope="col" class="scope-col">Version</th>
                                <th scope="col" class="scope-col">Was Heavy</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="entry, pos : ${versionTable.page.content}">
                                <td th:text="${entry.averageDurationFormatted}"></td>
                                <td th:text="${entry.numberOfExecutions}"></td>
                                <td th:text="${entry.version}"></td>
                                <td th:text="${entry.markedHeavy}"></td>
                            </tr>
                            </tbody>
                        </table>

                        <nav aria-label="Page navigation" class="paging">
                            <script th:inline="javascript">
                                // write code here
                            </script>
                            <ul class="pagination" th:if="${versionTable.page.totalPages > 1}">
                                <li class="page-item">
                                    <a class="page-link" th:classappend="${!versionTable.paging.isPrevEnabled()? 'disabledButton' : 'blueButton' }"
                                       th:href="@{${#httpServletRequest.requestURI} + '?versionPageNumber=' + ${history.paging.pageNumber - 1} + '&versionSize='+ ${pageVersionEntries}}" tabindex="-1">Previous</a>
                                </li>
                                <th:block th:each="item : ${versionTable.paging.getItems()}">
                                    <li class="page-item" th:classappend="${item.index == versionTable.paging.pageNumber? 'active' : ''}"
                                        th:if="${item.pageItemType.name() == 'PAGE'}">
                                        <a class="page-link" th:href="@{${#httpServletRequest.requestURI} + '?versionPageNumber=' + ${item.index} + '&versionSize='+ ${pageVersionEntries}}"
                                           th:text="${item.index}"></a>
                                    </li>
                                    <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                                        <a class="page-link" href="#">...</a>
                                    </li>
                                </th:block>
                                <li class="page-item">
                                    <a class="page-link" th:classappend="${!versionTable.paging.isNextEnabled()? 'disabledButton' : 'blueButton' }"
                                       th:href="@{${#httpServletRequest.requestURI} + '?versionPageNumber=' + ${versionTable.paging.pageNumber + 1} + '&versionSize='+ ${pageVersionEntries}}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div th:unless="${not #lists.isEmpty(versionTable.page.content)}">
                        <p th:text="${'There is no execution history info for script with id ' + scriptId}"></p>
                    </div>
                </div>
            </div>

            <!-- Show history table -->
            <div class="row">
                <div class="col-lg-10 mt-5 mb-5">
                    <div th:if="${not #lists.isEmpty(history.page.content)}">

                        <div class="tablePageEntriesSize" style="float: right;">
                            <form th:action="@{${#httpServletRequest.requestURI}}" method="get">
                                <label for="pageHistoryEntries">Entries per page:</label>
                                <select name="pageHistoryEntries" id="pageHistoryEntries" onchange="this.form.submit()">
                                    <option th:if="${historyTableSize > 10}" th:selected="${pageHistoryEntries} == ${10}" value="10">10</option>
                                    <option th:if="${historyTableSize > 20}" th:selected="${pageHistoryEntries} == ${20}" value="20">20</option>
                                    <option th:if="${historyTableSize > 50}" th:selected="${pageHistoryEntries} == ${50}" value="50">50</option>
                                    <option th:if="${historyTableSize > 100}" th:selected="${pageHistoryEntries} == ${100}" value="100">100</option>
                                    <option th:if="${historyTableSize > 200}" th:selected="${pageHistoryEntries} == ${200}" value="200">200</option>
                                    <option th:if="${historyTableSize > 500}" th:selected="${pageHistoryEntries} == ${500}" value="500">500</option>
                                    <option th:value="${historyTableSize}" th:selected="${pageHistoryEntries} == ${historyTableSize}"><span th:text="${historyTableSize}"></span></option>
                                </select>
                            </form>

                        </div>
                        <table id="scriptExecutionHistoryTable" class="table table-bordered datatable results" style="width: 100%">
                            <thead>
                                <tr>
                                    <th scope="col" class="scope-col">File Name</th>
                                    <th scope="col" class="scope-col">Script Type</th>
                                    <th scope="col" class="scope-col">Duration</th>
                                    <th scope="col" class="scope-col">Was Heavy</th>
                                    <th scope="col" class="scope-col">Job Status</th>
                                    <th scope="col" class="scope-col">Version</th>
                                    <th scope="col" class="scope-col">Timestamp</th>
                                    <th scope="col" class="scope-col">Job Id</th>
                                    <th th:if="${isFMEScript}" scope="col" class="scope-col">FME Job Id</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="entry, pos : ${history.page.content}">
                                    <td th:text="${entry.shortFileName}"></td>
                                    <td th:text="${entry.scriptType}"></td>
                                    <td th:text="${entry.durationFormatted}"></td>
                                    <td th:text="${entry.markedHeavy}"></td>
                                    <td th:text="${entry.statusName}"></td>
                                    <td th:text="${entry.version}"></td>
                                    <td th:text="${entry.timestamp}"></td>
                                    <td th:text="${entry.jobId}"></td>
                                    <td th:if="${isFMEScript}">
                                        <a th:href="@{${fmeJobUrl} + ${entry.fmeJobId}}"><span th:text="${entry.fmeJobId}"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <nav aria-label="Page navigation" class="paging">
                            <script th:inline="javascript">
                                // write code here
                            </script>
                            <ul class="pagination" th:if="${history.page.totalPages > 1}">
                                <li class="page-item">
                                    <a class="page-link" th:classappend="${!history.paging.isPrevEnabled()? 'disabledButton' : 'blueButton' }"
                                       th:href="@{${#httpServletRequest.requestURI} + '?historyPageNumber=' + ${history.paging.pageNumber - 1} + '&historySize='+ ${pageHistoryEntries}}" tabindex="-1">Previous</a>
                                </li>
                                <th:block th:each="item : ${history.paging.getItems()}">
                                    <li class="page-item" th:classappend="${item.index == history.paging.pageNumber? 'active' : ''}"
                                        th:if="${item.pageItemType.name() == 'PAGE'}">
                                        <a class="page-link" th:href="@{${#httpServletRequest.requestURI} + '?historyPageNumber=' + ${item.index} + '&historySize='+ ${pageHistoryEntries}}"
                                           th:text="${item.index}"></a>
                                    </li>
                                    <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                                        <a class="page-link" href="#">...</a>
                                    </li>
                                </th:block>
                                <li class="page-item">
                                    <a class="page-link" th:classappend="${!history.paging.isNextEnabled()? 'disabledButton' : 'blueButton' }"
                                       th:href="@{${#httpServletRequest.requestURI} + '?historyPageNumber=' + ${history.paging.pageNumber + 1} + '&historySize='+ ${pageHistoryEntries}}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>