<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:perm="http://perm">
    <head th:replace="~{fragments/head-old :: head}"/>
    <body th:include="~{fragments/layout-old :: layout(~{::div})}">

        <div class="container">

            <div id="tabbedmenu">
                <ul>
                    <li>
                        <a th:href="@{'/scripts/' +${scriptId}}" style="color: black; text-decoration: none;">
                            <span th:text="#{label.qascript.tab.title}"></span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{'/scripts/' +${scriptId} + '/history'}" style="color: black; text-decoration: none;">
                            <span th:text="#{label.qascript.history}"></span>
                        </a>
                    </li>
                    <li id="currenttab">
                        <span style="color: black; text-decoration: none;" th:text="#{label.qascript.executionHistory}"></span>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="col-lg-10 mt-5 mb-5">
                    <div th:if="${not #lists.isEmpty(history.page.content)}">
                        <p th:utext="${'Average duration for script with id ' + scriptId + ' is <b>' + averageDuration + '</b>. The script has been executed ' + numberOfExecutions + ' times.'}"></p>

                        <div class="tablePageEntriesSize" style="float: right;">
                            <form th:action="@{${#httpServletRequest.requestURI} + '?pageNumber=1'}" method="get">
                                <label for="pageEntries">Entries per page:</label>
                                <select name="pageEntries" id="pageEntries" onchange="this.form.submit()">
                                    <option th:if="${numberOfExecutions > 10}" th:selected="${pageEntries} == ${10}" value="10">10</option>
                                    <option th:if="${numberOfExecutions > 20}" th:selected="${pageEntries} == ${20}" value="20">20</option>
                                    <option th:if="${numberOfExecutions > 50}" th:selected="${pageEntries} == ${50}" value="50">50</option>
                                    <option th:if="${numberOfExecutions > 100}" th:selected="${pageEntries} == ${100}" value="100">100</option>
                                    <option th:if="${numberOfExecutions > 200}" th:selected="${pageEntries} == ${200}" value="200">200</option>
                                    <option th:if="${numberOfExecutions > 500}" th:selected="${pageEntries} == ${500}" value="500">500</option>
                                    <option th:value="${numberOfExecutions}" th:selected="${pageEntries} == ${numberOfExecutions}"><span th:text="${numberOfExecutions}"></span></option>
                                </select>
                            </form>

                        </div>
                        <table id="scriptExecutionHistoryTable" class="table table-bordered datatable results" style="width: 100%">
                            <thead>
                                <tr>
                                    <th scope="col" class="scope-col">File Name</th>
                                    <th scope="col" class="scope-col">Script Type</th>
                                    <th scope="col" class="scope-col">Duration</th>
                                    <th scope="col" class="scope-col">Was Heavy</th>
                                    <th scope="col" class="scope-col">Job Status</th>
                                    <th scope="col" class="scope-col">Version</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="entry, pos : ${history.page.content}">
                                    <td th:text="${entry.shortFileName}"></td>
                                    <td th:text="${entry.scriptType}"></td>
                                    <td th:text="${entry.durationFormatted}"></td>
                                    <td th:text="${entry.markedHeavy}"></td>
                                    <td th:text="${entry.statusName}"></td>
                                    <td th:text="${entry.version}"></td>
                                </tr>
                            </tbody>
                        </table>

                        <nav aria-label="Page navigation" class="paging">
                            <script th:inline="javascript">
                                // write code here
                            </script>
                            <ul class="pagination" th:if="${history.page.totalPages > 1}">
                                <li class="page-item">
                                    <a class="page-link" th:classappend="${!history.paging.isPrevEnabled()? 'disabledButton' : 'blueButton' }"
                                       th:href="@{${#httpServletRequest.requestURI} + '?pageNumber=' + ${history.paging.pageNumber - 1} + '&size='+ ${pageEntries}}" tabindex="-1">Previous</a>
                                </li>
                                <th:block th:each="item : ${history.paging.getItems()}">
                                    <li class="page-item" th:classappend="${item.index == history.paging.pageNumber? 'active' : ''}"
                                        th:if="${item.pageItemType.name() == 'PAGE'}">
                                        <a class="page-link" th:href="@{${#httpServletRequest.requestURI} + '?pageNumber=' + ${item.index} + '&size='+ ${pageEntries}}"
                                           th:text="${item.index}"></a>
                                    </li>
                                    <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                                        <a class="page-link" href="#">...</a>
                                    </li>
                                </th:block>
                                <li class="page-item">
                                    <a class="page-link" th:classappend="${!history.paging.isNextEnabled()? 'disabledButton' : 'blueButton' }"
                                       th:href="@{${#httpServletRequest.requestURI} + '?pageNumber=' + ${history.paging.pageNumber + 1} + '&size='+ ${pageEntries}}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div th:unless="${not #lists.isEmpty(history.page.content)}">
                        <p th:text="${'There is no execution history info for script with id ' + scriptId}"></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>