<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:perm="http://perm">
    <head th:replace="~{fragments/head-old :: head}"/>
    <body th:include="~{fragments/layout-old :: layout(~{::div})}">

        <div class="container">
            <div class="row">
                <div class="col-lg-10 mt-5 mb-5">
                    <div th:if="${not #lists.isEmpty(history)}">
                        <p th:utext="${'Average duration for script with id ' + scriptId + ' is <b>' + averageDuration + '</b>. The script has been executed ' + numberOfExecutions + ' times.'}"></p>

                        <table id="example" class="table table-bordered" style="width: 100%">
                            <thead>
                                <tr>
                                    <th scope="col" class="scope-col">File Name</th>
                                    <th scope="col" class="scope-col">Script Type</th>
                                    <th scope="col" class="scope-col">Duration</th>
                                    <th scope="col" class="scope-col">Was Heavy</th>
                                    <th scope="col" class="scope-col">Job Status</th>
                                    <th scope="col" class="scope-col">Version</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="entry, pos : ${history.page.content}">
                                    <td th:text="${entry.shortFileName}"></td>
                                    <td th:text="${entry.scriptType}"></td>
                                    <td th:text="${entry.durationFormatted}"></td>
                                    <td th:text="${entry.markedHeavy}"></td>
                                    <td th:text="${entry.statusName}"></td>
                                    <td th:text="${entry.version}"></td>
                                </tr>
                            </tbody>
                        </table>

                        <nav aria-label="Page navigation" class="paging">
                            <ul class="pagination" th:if="${history.page.totalPages > 1}">
                                <li class="page-item">
                                    <a class="page-link" th:classappend="${!history.paging.isPrevEnabled()? 'disabledButton' : 'blueButton' }"
                                       th:href="@{${#httpServletRequest.requestURI} + '?pageNumber=' + ${history.paging.pageNumber - 1}}" tabindex="-1">Previous</a>
                                </li>
                                <th:block th:each="item : ${history.paging.getItems()}">
                                    <li class="page-item" th:classappend="${item.index == history.paging.pageNumber? 'active' : ''}"
                                        th:if="${item.pageItemType.name() == 'PAGE'}">
                                        <a class="page-link" th:href="@{${#httpServletRequest.requestURI} + '?pageNumber=' + ${item.index}}"
                                           th:text="${item.index}"></a>
                                    </li>
                                    <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                                        <a class="page-link" href="#">...</a>
                                    </li>
                                </th:block>
                                <li class="page-item">
                                    <a class="page-link" th:classappend="${!history.paging.isNextEnabled()? 'disabledButton' : 'blueButton' }"
                                       th:href="@{${#httpServletRequest.requestURI} + '?pageNumber=' + ${history.paging.pageNumber + 1}}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div th:unless="${not #lists.isEmpty(history)}">
                        <p th:text="${'There is no execution history info for script with id ' + scriptId}"></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>