
table.box {
    background-color: #F0F0F0;
}

smallfont {  font-family: Verdana, Arial, "MS Sans Serif", sans-serif; 
font-size: 7pt;
font-style: normal; 
line-height: normal;
font-weight: bold;
text-decoration: none; }

input.smallbutton {  font-family: Verdana, Arial, "MS Sans Serif", sans-serif; 
font-size: 7pt;
font-style: normal; 
line-height: normal;
text-decoration: none; }

input.smallbuttonb {  font-family: Verdana, Arial, "MS Sans Serif", sans-serif; 
font-size: 7pt;
font-style: normal; 
line-height: normal;
font-weight: bold;
text-decoration: none; }

input.mediumbutton {  font-family: Arial, "MS Sans Serif", sans-serif; 
font-size: 8pt;
font-style: normal; 
line-height: normal;
text-decoration: none; }

input.mediumbuttonb {  font-family: Arial, "MS Sans Serif", sans-serif; 
font-size: 8pt;
font-style: normal; 
line-height: normal;
font-weight: bold;
text-decoration: none; }

input.smalltext {  font-family: Verdana, Arial, "MS Sans Serif", sans-serif; 
font-size: 8pt;
font-style: normal; 
line-height: normal;
text-decoration: none; }

textarea.small {  font-family: Verdana, Arial, "MS Sans Serif", sans-serif; 
font-size: 8pt;
font-style: normal; 
line-height: normal;
text-decoration: none; }

select.small {  font-family: Verdana, Arial, "MS Sans Serif", sans-serif; 
font-size: 8pt;
font-style: normal; 
line-height: normal;
text-decoration: none; }
