<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:perm="http://perm"
      xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
<head th:replace="~{fragments/head-old :: head}"/>
<body th:include="~{fragments/workqueue-old :: layout(~{::div})}">

<template>
    <div class="container" id="workqueueApp" style="display: flow-root">
        <v-app>
            <v-main>
                <v-card>
                    <v-card-title>
                        Search
                        <v-spacer></v-spacer>
                        <v-text-field
                                v-model="search"
                                append-icon="mdi-magnify"
                                single-line
                                hide-details
                        ></v-text-field>
                    </v-card-title>
                    <v-data-table
                            v-model="selected"
                            item-key="jobId"
                            show-select
                            :headers="headers"
                            :items="jobEntries"
                            :sort-by.sync="sortBy"
                            :search="search"
                            :options.sync="options"
                            :loading="loading"
                            :expanded.sync="expanded"
                            show-expand
                            class="elevation-1"
                    >
                        <template #item.url="{ value }">
                            <a target="_blank" :href="value">
                                {{ value }}
                            </a>
                        </template>
                        <template #item.script_file="{ value }">
                            <a target="_blank" :href="item.script_url">
                                {{ value }}
                            </a>
                        </template>
                        <template #item.result_file="{ value }">
                            <div v-if="value">
                                <a target="_blank" :href="value">
                                    Job Result
                                </a>
                            </div>
                            <div v-else>
                                *** Not ready ***
                            </div>
                        </template>
                    </v-data-table>
                </v-card>
            </v-main>
        </v-app>
    </div>
</template>

</body>
</html>