<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head-old :: head}" />
<body th:include="~{fragments/layout-old :: layout(~{::form})}">
<form action="#" th:action="@{/projects/{id}/transformations/add(id=${id})}" th:object="${transformation}" method="post">
  <fieldset>
    <legend>Transformation properties</legend>
    <label>Transformation name
      <input type="text" th:field="*{name}"/>
    </label>
    <label>Description:
      <input type="text" th:field="*{description}"/>
    </label>
    <label>Transformation type:
      <select th:field="*{type}">
        <option th:each="option : ${transformationTypes}" th:value="${option.key}" th:text="${option.key.text}" th:selected="(*{type}?${option.key} == *{type}:false)"></option>
      </select>
    </label>
    <label>Active:
      <input type="checkbox" th:field="*{active}"/>
    </label>
  </fieldset>
  <input type="submit" th:value="Save"/>
  <input type="reset" th:value="Reset"/>
</form>
</body>
</html>