<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>XQuery Utils</display-name>
  <servlet>
    <servlet-name>SaxonServlet</servlet-name>
    <servlet-class>SaxonServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>eionet.gdem.TestServlet</servlet-class>
  </servlet>
	<servlet>
    <servlet-name>XQueryServlet</servlet-name>
    <servlet-class>eionet.gdem.XQueryServlet</servlet-class>
  </servlet>
	<servlet>
    <servlet-name>ConversionServlet</servlet-name>
    <servlet-class>eionet.gdem.ConversionServlet</servlet-class>
  </servlet>
	<servlet>
    <servlet-name>RpcRouter</servlet-name>
    <servlet-class>com.tee.uit.servlets.XmlRpcRouter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaxonServlet</servlet-name>
    <url-pattern>/SaxonServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
	<servlet-mapping>
    <servlet-name>ConversionServlet</servlet-name>
    <url-pattern>/convert</url-pattern>
  </servlet-mapping>
	<servlet-mapping>
    <servlet-name>XQueryServlet</servlet-name>
    <url-pattern>/XQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RpcRouter</servlet-name>
    <url-pattern>/RpcRouter</url-pattern>
  </servlet-mapping>
</web-app>