<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <title th:text="${#vars['title']}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!--  EEA central styles -->
  <link rel="stylesheet" type="text/css" th:href="@{//www.eionet.europa.eu/styles/eionet2007/print.css}" media="print" />
  <link rel="stylesheet" type="text/css" th:href="@{//www.eionet.europa.eu/styles/eionet2007/handheld.css}" media="handheld" />
  <link rel="stylesheet" type="text/css" th:href="@{//www.eionet.europa.eu/styles/eionet2007/screen.css}" media="screen" />
  <!--  local style -->
  <link rel="stylesheet" type="text/css" th:href="@{../../../resources/css/main.css}" media="screen" />
  <link rel="stylesheet" type="text/css" th:href="@{../../../resources/css/xmlconv.css}" media="screen" />
  <!--<link rel="stylesheet" type="text/css" href="http://dd.eionet.europa.eu/css/eionet2007.css" media="screen" />-->
  <link rel="stylesheet" type="text/css" th:href="@{../../../../../../deprecated/resources/foundation.css}" media="screen" />
  <link rel="shortcut icon" th:href="@{/static/images/favicon.ico}" type="image/x-icon" />
  <!-- jQuery javascripts and css-->
  <link th:href="@{../../../../../../deprecated/resources/smoothness/jquery-ui.css}" rel="stylesheet" type="text/css"/>
  <!--<tiles:insert attribute="specific_header" ignore="true"/>-->

  <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>



  <!--  local style -->
  <link rel="stylesheet" type="text/css" href="<c:url value='/static/webjars/foundation/dist/css/foundation.min.css'/>" media="screen"/>
  <!-- jQuery javascripts and css-->


  <!--<script type="text/javascript" src="@{../../../../../../deprecated/resources/jquery.min.js}"></script>-->


  <!-- local javascripts -->
 <!-- <script type="text/javascript" src="@{../../../resources/js/admin.js}"></script>
  <script type="text/javascript" src="@{../../../resources/js/pageops.js}"></script>
  <script type="text/javascript" src="@{../../../resources/js/foundation.js}"></script>-->

</head>
<body></body>
</html>