<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="scripts">

  <!-- jQuery javascripts and css-->
  <script type="text/javascript" th:src="@{/static/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/static/webjars/jquery-ui/jquery-ui.js}"></script>
  <script type="text/javascript" th:src="@{/static/webjars/jquery-validation/jquery.validate.js}"></script>

  <!-- local javascripts -->
  <script type="text/javascript" th:src="@{/static/js/admin.js}"></script>
  <script type="text/javascript" th:src="@{/static/js/pageops.js}"></script>
</body>