<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="scripts">
  <!--<script type="text/javascript" th:src="@{/scripts/jquery-1.9.1.min.js}" ></script>-->
  <script type="text/javascript" th:src="@{/scripts/jquery.js}" ></script>
  <script type="text/javascript" th:src="@{/scripts/jquery-ui-1.10.3.min.js}"></script>
  <script type="text/javascript" th:src="@{/scripts/jquery-validate-1.11.1.min.js}"></script>
  <!-- local javascripts -->
  <script type="text/javascript" th:src="@{/scripts/admin.js}"></script>
  <script type="text/javascript" th:src="@{/scripts/pageops.js}"></script>
  <script type="text/javascript" th:src="@{/scripts/foundation.js}"></script>
  <script>$(document).foundation();</script>
</body>