<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head-old :: head}" />
<body th:include="~{fragments/layout-old :: layout(~{::div})}">

<!-- replace deprecated tab menu -->
<div style="width:100%;">
  <div id="tabbedmenu">
    <ul>
      <li id="currenttab"><a th:href="@{/web/config/database}" th:text="#{label.config.db}"></a></li>
      <li><a th:href="@{/web/config/system}" th:text="#{label.config.system}"></a></li>
      <li><a th:href="@{/web/config/purge}" th:text="#{label.config.purge}"></a></li>
      <li><a th:href="@{/web/config/ldap}" th:text="#{label.config.ldap}"></a></li>
      <li><a th:href="@{/web/config/basex}" th:text="#{label.config.basexserver}"></a></li>
    </ul>
  </div>
  <div>
    <p th:each="message, pos : ${successMessages}" th:text="${message}"></p>
    <p th:each="message, pos : ${errorMessages}" th:text="${message}"></p>
    <form action="#" th:action="@{/web/config/database}" th:object="${form}" method="post">
      <fieldset>
        <legend th:text="#{label.config.db.admin}"></legend>
      </fieldset>
      <label class="question" for="host" th:text="#{label.config.db.url}"></label>
      <input th:value="*{url}" type="text" id="host" name="host"/>
      <label class="question" th:text="#{label.config.db.user}"></label>
      <input th:value="*{user}" type="text" id="user" name="user"/>
      <label class="question" th:text="#{label.config.db.password}"></label>
      <input th:value="*{password}" type="password" id="password" name="password"/>
      <input type="submit" th:value="Save"/>
      <input type="reset" th:value="Reset"/>
    </form>
  </div>
</div>
</body>
</html>