<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head-old :: head}" />
<body th:include="~{fragments/layout-old :: layout(~{::div})}">

<!-- replace deprecated tab menu -->
<div style="width:100%;">
  <div id="tabbedmenu">
    <ul>
      <li><a th:href="@{/config/database}" th:text="#{label.config.db}"></a></li>
      <li id="currenttab"><a th:href="@{/config/system}" th:text="#{label.config.system}"></a></li>
      <li><a th:href="@{/config/purge}" th:text="#{label.config.purge}"></a></li>
      <li><a th:href="@{/config/ldap}" th:text="#{label.config.ldap}"></a></li>
      <li><a th:href="@{/config/basex}" th:text="#{label.config.basexserver}"></a></li>
    </ul>
  </div>
  <div>
    <p th:each="message, pos : ${successMessages}" th:text="${message}"></p>
    <p th:each="message, pos : ${errorMessages}" th:text="${message}"></p>
    <form action="#" th:action="@{/config/system}" th:object="${form}" method="post">
      <fieldset>
        <legend th:text="#{label.config.system.admin}"></legend>
      </fieldset>
      <label class="question" for="qaTimeout" th:text="#{label.config.system.qa.timeout}"></label>
      <input th:value="*{qaTimeout}" type="text" id="qaTimeout" name="qaTimeout"/>
      <label class="question" th:text="#{label.config.system.qa.xgawk}"></label>
      <input th:value="*{cmdXGawk}" type="text" id="cmdXGawk" name="cmdXGawk"/>
      <input type="submit" th:value="#{label.config.system.save}"/>
      <input type="reset" th:value="Reset"/>
    </form>
  </div>
</div>
</body>
</html>